.container {
  width: 180px;
  border: 2px solid rgb(255, 255, 255);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.category-navv {
  background-color:  #00458b;
  padding: 1rem 2rem;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.category-listt {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
}

.category-itemm {
  position: relative;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  user-select: none;
  transition: color 0.3s ease;
  background-color: #00458b;
}

.category-itemm:hover {
  color: #00aaff;
}

.category-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.category-icon {
  font-size: 2rem;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.category-name {
  white-space: nowrap;
  font-size: 1.1rem;
}

.subcategory-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-top: 0.3rem;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  min-width:200px;
  z-index: 10;
  font-size: 1.5rem;
}

.subcategory-item {
  padding: 0.3rem 0;
  color: #000000;
  font-weight: 400;
  transition: color 0.2s ease;
  cursor: pointer;
}

.subcategory-item:hover {
  color: #00aaff;
}