.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #00458b; /* Lacivert tonu */
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 80px;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-nav a {
  margin-left: 2rem;
  text-decoration: none;
  color: #e0e0e0; /* Açık gri link */
  font-weight: 400;
  font-size: 1.2rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.main-nav a:hover {
  color: #ffffff;
  border-bottom: 2px solid #00bfff; /* Parlak mavi vurgulu alt çizgi */
}
